extends layout

block content
  div#battle
    .row
      .col-xs-12
        .page-header
          h1 Battle 
            small Kill them all
        
block javascripts
  script.
    var battle = new Vue({
      el: '#battle',
      data: {
        battle: {},
        player: {}
      },
      mounted: function() {
        self = this;
        self.get();
      },
      methods: {
        get: function() {
          $.get('/api/player/1', function(results) {
            self.player = results.data;
            notification.info('Player loaded from database!')
          });
          $.get('/api/battle/1', function(results) {
            self.battle = results.data;
            notification.info('Battle loaded from database!')
          });
        }
      }
    });