+nav('World Map', 'map')
  +nav_item('/player', 'user') Player
  +nav_item('/battle', 'flag') Battle
  +nav_item('/store', 'shopping-bag') Store
  +nav_item('/forge', 'legal') Forge
  +nav_item('/items', 'cubes') Items
  +nav_item('/resources', 'diamond') Resources
  +nav_item('/spells', 'magic') Spells