extends layout

block content
  .row
    .col-xs-12
      +pageader('API', 'Documentation')
  .row
    .col-xs-12
      p Try the several API verbosities implemented by now.
  .row
    .col-xs-12
      +pageader('Verbs', 'Http')
  .row
    .col-md-3.col-xs-12
      h4 CREATE
      +code('POST /api/users')
    .col-md-3.col-xs-12
      h4 RETRIEVE
      +code('GET /api/users/{id}')
      h4 RETRIEVE ALL
      +code('GET /api/users')
    .col-md-3.col-xs-12
      h4 UPDATE
      +code('PUT /api/users/{id}')
    .col-md-3.col-xs-12      
      h4 REMOVE
      +code('DELETE /api/users/{id}')
      h4 REMOVE ALL
      +code('DELETE /api/users')