extends layout

block content
  .row
    .col-xs-12
      +pageader("API", "Documentation")
  .row
    .col-xs-12
      p Try the several API verbosities implemented by now:
  .row
    .col-md-3.col-xs-12
      h3 CREATE
      +code("POST /api/users")
      +button("primary", "#", "plus", true) Try it!
    .col-md-3.col-xs-12
      h3 RETRIEVE
      +code("GET /api/users/{id}")
      +button("primary", "#", "undo", true) Try it!
      h3 RETRIEVE ALL
      +code("GET /api/users")
      +button("primary", "#", "list", true) Try it!
    .col-md-3.col-xs-12
      h3 UPDATE
      +code("PUT /api/users/{id}")
      +button("primary", "#", "pencil", true) Try it!
    .col-md-3.col-xs-12      
      h3 REMOVE
      +code("DELETE /api/users/{id}")
      +button("primary", "#", "remove", true) Try it!
      h3 REMOVE ALL
      +code("DELETE /api/users")
      +button("primary", "#", "trash", true) Try it!
