extends layout

block content
  .row
    .col-xs-12
      +pageader('Overview', 'What is this?')
      p This is just an NodeJS API example for learning purposes.
  .row
    .col-xs-12
      +pageader('Architectures', 'Present')
  .row
    .col-md-4.col-sm-6.col-xs-12
      +panel('NodeJS + NPM', 'success', 'server') A lightweight http JS server.
    .col-md-4.col-sm-6.col-xs-12
      +panel('ExpressJS + i18n', 'danger', 'map-signs') A middleware API routing engine.
    .col-md-4.col-sm-6.col-xs-12
      +panel('SequelizeJS + Fixtures', 'primary', 'map') A codefirst database mapping ORM.
  .row
    .col-md-4.col-sm-6.col-xs-12
      +panel('MariaDB', 'warning', 'database') A forked MySQL database.
    .col-md-4.col-sm-6.col-xs-12
      +panel('Pug + BootstrapCSS + Mixins', 'info', 'leaf') A template engine.
    .col-md-4.col-sm-6.col-xs-12
      +panel('VueJS + jQuery', 'default', 'refresh') A SPA framework.