extends layout

block content
  div#items
    .row
      .col-xs-12
        .page-header
          h1 Items 
            small Game loot
      .col-xs-12
        form.form-horizontal.form-group
          .input-group
            .input-group-addon
              +fa('search')
            input(v-model='filter', type='text', class='form-control', placeholder='Find items')
            .input-group-btn
              a.btn.btn-danger(v-on:click='reset()')
                +fa('trash')
      .col-md-3.col-xs-12(v-for='item in filtered')
        include item
        
block javascripts
  script.
    var items = new Vue({
      el: '#items',
      data: {
        filter: '',
        items: [],
        item: {
          name: '',
          icon: '',
          image: '',
          type: '',
          rarity: '',
          vitality: 0,
          strength: 0,
          intelligence: 0,
          defense: 0,
          agility: 0
        },
        rarity: [
          'primary',
          'warning',
          'info',
          'success',
          'danger'
        ]
      },
      mounted: function() {
        self = this;
        self.get();
      },
      methods: {
        get: function() {
          $.get('/api/items', function(results) {
            self.items = results.data;
            notification.info('Items loaded from database!')
          });
        },
        reset: function() {
          self.filter = '';
        }
      },
      computed: {
        filtered: function() {
          return this.items.filter(function(item) {
            return item.name.indexOf(self.filter) !== -1;
          });
        }
      }
    });