+nav('Heroyc', 'trophy')
  +nav_item('/player', 'user') Player
  +nav_item('/resources', 'diamond') Resources
  +nav_item('/items', 'cubes') Items
  +nav_item('/spells', 'magic') Spells
  +nav_item('/users', 'users') Users