extends layout

block content
  div#player
    .row
      .col-xs-12
        .page-header
          h1 Player 
            small Yourself
      .col-md-4.col-xs-12
        .panel.panel-default.text-center
          .panel-heading
            .panel-title
              i.fa.fa-fw.fa-lg.fa-user
              span {{name}}
          .panel-body
            img.thumbnail.item(v-bind:src='"/images/player/" + image + ".png"')
            ul.list-group.text-left
              li.list-group-item
                span.label.label-default Level
                span.badge {{level}}
              li.list-group-item
                span.label.label-default Experience
                span.badge {{experience}}
              li.list-group-item
                span.label.label-default Gold
                span.badge {{gold}}
              li.list-group-item
                span.label.label-warning Strength
                span.badge {{strength}}
              li.list-group-item
                span.label.label-primary Intelligence
                span.badge {{intelligence}}
              li.list-group-item
                span.label.label-danger Vitality
                span.badge {{vitality}}
              li.list-group-item
                span.label.label-success Agility
                span.badge {{agility}}
              li.list-group-item
                span.label.label-info Defense
                span.badge {{defense}}
      .col-md-4.col-xs-12
        .panel.panel-default.text-center
          .panel-heading
            .panel-title
              i.fa.fa-fw.fa-lg.fa-wrench
              span Equipment
          .panel-body
            .row
              .col-md-4.col-xs-12(v-for='item in items')
                img.thumbnail.item(v-bind:src='"/images/items/" + item.type + "/" + item.image + ".png"', v-bind:class='"panel-" + item.rarity')
                .progress
                  .progress-bar.progress-bar-warning(v-bind:style='"width: " + item.strength + "%"')
                .progress
                  .progress-bar.progress-bar-primary(v-bind:style='"width: " + item.intelligence + "%"')
                .progress
                  .progress-bar.progress-bar-danger(v-bind:style='"width: " + item.vitality + "%"')
                .progress
                  .progress-bar.progress-bar-success(v-bind:style='"width: " + item.agility + "%"')
                .progress
                  .progress-bar.progress-bar-info(v-bind:style='"width: " + item.defense + "%"')
      .col-md-4.col-xs-12
        .panel.panel-default.text-center
          .panel-heading
            .panel-title
              i.fa.fa-fw.fa-lg.fa-magic
              span Spells
          .panel-body
            .row
              .col-md-4.col-xs-12(v-for='spell in spells')
                img.thumbnail.spell(v-bind:src='"/images/spells/" + spell.type + "/" + spell.image + ".png"', v-bind:class='"panel-" + spell.family')
                .progress
                  .progress-bar.progress-bar-danger(v-bind:style='"width: " + spell.damage + "%"')
                .progress
                  .progress-bar.progress-bar-success(v-bind:style='"width: " + spell.heal + "%"')
                .progress
                  .progress-bar.progress-bar-primary(v-bind:style='"width: " + spell.mana + "%"')
        
block javascripts
  script.
    var player = new Vue({
      el: '#player',
      data: {
        name: 'Name',
        items: [],
        spells: [],
        image: 'fer',
        level: 0,
        experience: 0,
        gold: 0
      },
      mounted: function() {
        self = this;
        self.get();
      },
      methods: {
        get: function() {
          $.get('/api/player/1', function(results) {
            self.items = results.data.Items;
            self.spells = results.data.Spells;
            self.name = results.data.name;
            self.level = results.data.level;
            self.experience = results.data.experience;
            self.gold = results.data.gold;
            self.image = results.data.image;
            notification.info('Player loaded from database!')
          });
        }
      },
      computed: {
        strength: function() {
          var str = 0;
          for(i=0;i<self.items.length;i++) {
            str += self.items[i].strength;
          }
          return str;
        },
        vitality: function() {
          var vit = 0;
          for(i=0;i<self.items.length;i++) {
            vit += self.items[i].vitality;
          }
          return vit;
        },
        intelligence: function() {
          var int = 0;
          for(i=0;i<self.items.length;i++) {
            int += self.items[i].intelligence;
          }
          return int;
        },
        agility: function() {
          var agi = 0;
          for(i=0;i<self.items.length;i++) {
            agi += self.items[i].agility;
          }
          return agi;
        },
        defense: function() {
          var def = 0;
          for(i=0;i<self.items.length;i++) {
            def += self.items[i].defense;
          }
          return def;
        }
      }
    });