extends layout

block content
  div#resources
    .row
      .col-xs-12
        .page-header
          h1 Resources 
            small Random shit
      .col-xs-12
        form.form-horizontal.form-group
          .input-group
            .input-group-addon
              +fa('search')
            input(v-model='filter', type='text', class='form-control', placeholder='Find resources')
            .input-group-btn
              a.btn.btn-danger(v-on:click='reset()')
                +fa('trash')
      .col-md-3.col-xs-12(v-for='resource in filtered')
        .panel.text-center(v-bind:class='"panel-" + resource.rarity')
          .panel-heading
            .panel-title
              i.fa.fa-fw.fa-lg(v-bind:class='"fa-" + resource.icon')  
              span {{resource.name}}
          .panel-body
            img.thumbnail.resource(v-bind:src='"/images/resources/" + resource.image + ".png"', v-bind:class='"panel-" + resource.rarity')
            p {{resource.description}}
        
block javascripts
  script.
    var resources = new Vue({
      el: '#resources',
      data: {
        filter: '',
        resources: []
      },
      mounted: function() {
        self = this;
        self.get();
      },
      methods: {
        get: function() {
          $.get('/api/resources', function(results) {
            self.resources = results.data;
            notification.info('Resources loaded from database!')
          });
        },
        reset: function() {
          self.filter = '';
        }
      },
      computed: {
        filtered: function() {
          return this.resources.filter(function(resource) {
            return resource.name.toLowerCase().indexOf(self.filter.toLowerCase()) !== -1;
          });
        }
      }
    });