.panel.text-center(v-bind:class='"panel-" + spell.family')
  .panel-heading
    .panel-title
      i.fa.fa-fw.fa-lg(v-bind:class='"fa-" + spell.icon')  
      span {{spell.name}}
  .panel-body
    img.thumbnail.spell(v-bind:src='"/images/spells/" + spell.type + "/" + spell.image + ".png"')
    .progress
      .progress-bar.progress-bar-danger(v-bind:style='"width: " + spell.damage + "%"')
    .progress
      .progress-bar.progress-bar-success(v-bind:style='"width: " + spell.heal + "%"')
    .progress
      .progress-bar.progress-bar-primary(v-bind:style='"width: " + spell.mana + "%"')