extends layout

block content
  .row
    .col-xs-12
      div#app
        .page-header
          h1 Users 
            small List
            input(v-model='search', type='text', class='form-control', placeholder='Search...', v-on:change='search()')
          .col-xs-4
            .panel(v-bind:class='user.class')
              .panel-heading
                .panel-title
                  +fa('plus') Random user data
              .panel-body
                form.form-horizontal
                  .form-group
                    .col-xs-3
                      label(class='control-label') Firstname
                    .col-xs-9
                      input(v-model='user.firstname', type='text', class='form-control')
                  .form-group
                    .col-xs-3
                      label(class='control-label') Lastname
                    .col-xs-9
                      input(v-model='user.lastname', type='text', class='form-control')
                  .form-group
                    .col-xs-3
                      label(class='control-label') Email
                    .col-xs-9
                      input(v-model='user.email', type='text', class='form-control')
                  .form-group
                    .col-xs-3
                      label(class='control-label') Class
                    .col-xs-9
                      select(v-model='user.class', class='form-control')
                        option(v-for='color in colors') {{color}}
                button(v-on:click="create()", class='btn btn-success btn-block', id='go')
                  +fa('plus') Add me!
                button(v-on:click="wipe()", class='btn btn-danger btn-block')
                  +fa('trash') Remove all!

          .col-xs-4(v-for='item in users')
            .panel(v-bind:class='item.class')
              .panel-heading
                .panel-title
                  +fa('user') {{item.firstname}}
              .panel-body
                form(v-on:change='update(item)', class='form-horizontal')
                  .form-group
                    .col-xs-3
                      label(class='control-label') Firstname
                    .col-xs-9
                      input(v-model='item.firstname', type='text', class='form-control')
                  .form-group
                    .col-xs-3
                      label(class='control-label') Lastname
                    .col-xs-9
                      input(v-model='item.lastname', type='text', class='form-control')
                  .form-group
                    .col-xs-3
                      label(class='control-label') Email
                    .col-xs-9
                      input(v-model='item.email', type='text', class='form-control')
                  .form-group
                    .col-xs-3
                      label(class='control-label') Class
                    .col-xs-9
                      select(v-model='item.class', class='form-control')
                        option(v-for='color in colors') {{color}}
                  .form-group
                    .col-xs-3
                      label(class='control-label') CreatedAt
                    .col-xs-9
                      input(v-model='item.createdAt', type='text', class='form-control', disabled)
                  .form-group
                    .col-xs-3
                      label(class='control-label') UpdatedAt
                    .col-xs-9
                      input(v-model='item.updatedAt', type='text', class='form-control', disabled)
                button(v-on:click='remove(item)', class='btn btn-danger btn-block')
                  +fa('trash') Remove me!
        
block javascripts
  script.
    var app = new Vue({
      el: '#app',
      data: {
        search: '',
        users: [],
        user: {
          firstname: 'Firstname',
          lastname: 'Lastname',
          email: 'Email',
          class: 'panel-primary'
        },
        colors: [
          'panel-primary',
          'panel-warning',
          'panel-info',
          'panel-success',
          'panel-primary'
        ]
      },
      mounted: function() {
        self = this;
        //self.wipe();
        self.get();
      },
      methods: {
        randomize: function() {
          self.user.firstname = Math.random().toString(36).substr(2, 20);
          self.user.lastname = Math.random().toString(36).substr(2, 20);
          self.user.email = Math.random().toString(36).substr(2, 5) + '@' + Math.random().toString(36).substr(2, 5) + '.com';
          self.user.class = self.colors[Math.floor(Math.random() * self.colors.length)];
        },
        get: function() {
          $.get('/api/users', function(results) {
            self.users = results.data;
            self.randomize();
          });
        },
        remove: function(user) {
          $.delete('/api/users/' + user.id, null, function(results) {
            self.get();
          });
        },
        create: function() {
          $.post('/api/users', self.user, function(results) {
            self.get();
          });
        },
        wipe: function() {
          $.delete('/api/users', null, function(results) {
            self.get();  
          });
        },
        update: function(user) {
          $.put('/api/users/' + user.id, user, function(results) {
            self.get();
          });
        },
        search: function() {

        }
      }
    });